<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fund Transfer page</title>
    <!-- Linking CSS-->
    <link rel="stylesheet" href="/fundtransfer-css/style.css">
</head>
<body>
    <header>
            <div class="logo">
                <h2>Online Banking</h2>
            </div>
        <ul>
            <li><a href="/main" >Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="#" class="active">Account</a></li>
            <li><a href="/inbox">Notification</a></li>
            <li><a href="#">About Us</a></li>
        </ul>
            <a class="logout" href="/logout"><button>Logout</button></a>
    </header>
    
    <div class="form-wrapper" style="padding:0px">
        <form action="/auth/fundtransfer" method="POST">
            <div>
                <div style="width: 14%; float:left ; padding-left: 20px;">
                <label for="Account_number" > Account Number : </label>
                </div>
                <div style="width: 84%; float:left;">
                <select name="acc[]" id="Account_number" style="width: 20%;"></select>
                </div>
            </div>
            <div style="margin-top: 3%;">
                <div style="width: 14%; float:left ; padding-left: 20px;">
                <label for="Student">Transfer Type: </label>
                </div>
                <div style="width: 84%; float:left;">
                <select name="transfer_type" id="transfer_type" style="width: 20% ;" onchange="changeFunc()">
                    <option value="Transfer_Now">Transfer Now</option>
                    <option value="SI">Set Standing Instruction</option>
                </select>
                </div>
            </div>

            
            <div id="Start_Date" style="margin-top: 6%; display: none">
                <div style="width: 14%; float:left ; padding-left: 20px;">
                    <label for="" style="width:80%; float: left;">Start Date:</label>
                </div>
                <div style="width: 84%; float:left;">
                    <input name="start_date" type="date" id="" >
                </div>
            </div>
            <div id="Frequency" style="margin-top: 9%; display: none">
                <div style="width: 14%; float:left ; padding-left: 20px;">
                    <label for="" style="width:80%; float: left;">Frequency:</label>
                </div>
                <select name="frequency[]" id="" style="width: 13%;">
                    <option value="Monthly">Monthly</option>
                    <option value="Quarterly">Quarterly</option>
                    <option value="Half Yearly">Half Yearly</option>
                    <option value="Yearly">Yearly</option>
                </select>
            </div>
            <div id="Number_of_Times" style="margin-top: 2%; display: none">
                <div style="width: 14%; float:left ; padding-left: 20px;">
                    <label for="" style="width:80%; float: left;">Number of Times:</label>
                </div>
                <select name="number_of_times[]" id="" style="width: 13%;">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
            
    </div>


    <table>
        <tr id="header">
            <th>To Account</th>
            <th>Transfer Description</th>
            <th>Transfer Amount</th>
        </tr>
        <tr>
          <td>
              <input type="number" name="to_acc" id="to_acc" value=""></input>
          </td>
          <td><input name="description" id="" cols="40" rows="1"></input></td>
          <td><input name="amount" id="" cols="40" rows="1"></input></td>
        </tr>
        <tr>
            <td><a href="#">Click here to select another Beneficiary</a></td>
        </tr>
    </table>
    <div class="btn">
        <button type="submit" style="margin-right: 3%;">Submit</button>
    </div>
    </form>
    <input type="text" class="fund_transfer" value="{{data}}" style="display: none;">
    
</body>
</html>

<script>
	var data= JSON.parse(document.querySelector(".fund_transfer").value);
    var block="";
    if(data.length == 0){
		block='<option value="NULL">No Account</option>'
	}
	for(i=0; i<data.length;i++){
		 block+='<option value="'+data[i].accountno+'">'+data[i].accountno+'</option>'
	}
	document.getElementById("Account_number").innerHTML=block;
    url=window.location
    var pathname = new URL(url).pathname;
    pathname = pathname.replace("/fundtransfer/", "");
    var accno = pathname.split("to")
    if(pathname!=""){
        document.getElementById("Account_number").value = accno[0]
    }
    document.getElementById("to_acc").value = accno[1]

</script>

<script>
    function changeFunc(){
        var option = document.getElementById("transfer_type").value;
        if (option == "SI"){
            document.getElementById("Start_Date").style.display = "block"
            document.getElementById("Frequency").style.display = "block"
            document.getElementById("Number_of_Times").style.display = "block"
            
        }
        else{
            document.getElementById("Start_Date").style.display = "none"
            document.getElementById("Frequency").style.display = "none"
            document.getElementById("Number_of_Times").style.display = "none"
           
        }
    }
    
</script>
