<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com    @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>Messages</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style type="text/css">
    	body{
    background:#eee;
}


/*header*/


header {
  background-color: #1c1c1c;
  padding: 10px;
  display: inline-flex;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 0 3px royalblue;
  width: 100%;
}

.logo {
  color: #fff;
  padding-left: 20px;
  font-weight: bold;
}
header li {
  display: inline;
  padding-left: 40px;
}

header li a {
  color: #fff;
  text-decoration: none;
  padding: 13px;
  transition: 0.3s ease;
  font-size: 17px;
  
}

header li a:hover,
.active {
  color: royalblue;
}

button {
  padding: 9px 25px;
  background-color: rgba(105, 133, 214, 0.748);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-size: 15px;
  margin-top: 0px;
  margin-right: 13px;
  color:whitesmoke
}

button:hover {
  background-color: #4169e1;
}

  
/*header*/

/* EMAIL */
.email {
    padding: 20px 10px 15px 10px;
	font-size: 1em;
}

.email .btn.search {
	font-size: 0.9em;
}

.email h2 {
	margin-top: 0;
	padding-bottom: 8px;
}

.email .nav.nav-pills > li > a {
	border-top: 3px solid transparent;
}

.email .nav.nav-pills > li > a > .fa {
	margin-right: 5px;
}

.email .nav.nav-pills > li.active > a,
.email .nav.nav-pills > li.active > a:hover {
	background-color: #f6f6f6;
	border-top-color: #3c8dbc;
}

.email .nav.nav-pills > li.active > a {
	font-weight: 600;
}

.email .nav.nav-pills > li > a:hover {
	background-color: #f6f6f6;
}

.email .nav.nav-pills.nav-stacked > li > a {
	color: #666;
	border-top: 0;
	border-left: 3px solid transparent;
	border-radius: 0px;
}

.email .nav.nav-pills.nav-stacked > li.active > a,
.email .nav.nav-pills.nav-stacked > li.active > a:hover {
	background-color: #f6f6f6;
	border-left-color: #3c8dbc;
	color: #444;
}

.email .nav.nav-pills.nav-stacked > li.header {
	color: #777;
	text-transform: uppercase;
	position: relative;
	padding: 0px 0 10px 0;
}

.email table {
	font-weight: 600;
}

.email table a {
	color: #666;
}

.email table tr.read > td {
	background-color: #f6f6f6;
}

.email table tr.read > td {
	font-weight: 400;
}

.email table tr td > i.fa {
	font-size: 1.2em;
	line-height: 1.5em;
	text-align: center;
}

.email table tr td > i.fa-star {
	color: #f39c12;
}

.email table tr td > i.fa-bookmark {
	color: #e74c3c;
}

.email table tr > td.action {
	padding-left: 0px;
	padding-right: 2px;
}

.grid {
    position: relative;
    width: 100%;
    background: #fff;
    color: #666666;
    border-radius: 2px;
    margin-bottom: 25px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}



.grid .grid-header:after {
    clear: both;
}

.grid .grid-header span,
.grid .grid-header > .fa {
    display: inline-block;
    margin: 0;
    font-weight: 300;
    font-size: 1.5em;
    float: left;
}

.grid .grid-header span {
    padding: 0 5px;
}

.grid .grid-header > .fa {
    padding: 5px 10px 0 0;
}

.grid .grid-header > .grid-tools {
    padding: 4px 10px;
}

.grid .grid-header > .grid-tools a {
    color: #999999;
    padding-left: 10px;
    cursor: pointer;
}

.grid .grid-header > .grid-tools a:hover {
    color: #666666;
}

.grid .grid-body {
    padding: 15px 20px 15px 20px;
    font-size: 0.9em;
    line-height: 1.9em;
}

.grid .full {
    padding: 0 !important;
}

.grid .transparent {
    box-shadow: none !important;
    margin: 0px !important;
    border-radius: 0px !important;
}

.grid.top.black > .grid-header {
    border-top-color: #000000 !important;
}

.grid.bottom.black > .grid-body {
    border-bottom-color: #000000 !important;
}

.grid.top.blue > .grid-header {
    border-top-color: #007be9 !important;
}

.grid.bottom.blue > .grid-body {
    border-bottom-color: #007be9 !important;
}

.grid.top.green > .grid-header {
    border-top-color: #00c273 !important;
}

.grid.bottom.green > .grid-body {
    border-bottom-color: #00c273 !important;
}

.grid.top.purple > .grid-header {
    border-top-color: #a700d3 !important;
}

.grid.bottom.purple > .grid-body {
    border-bottom-color: #a700d3 !important;
}

.grid.top.red > .grid-header {
    border-top-color: #dc1200 !important;
}

.grid.bottom.red > .grid-body {
    border-bottom-color: #dc1200 !important;
}

.grid.top.orange > .grid-header {
    border-top-color: #f46100 !important;
}

.grid.bottom.orange > .grid-body {
    border-bottom-color: #f46100 !important;
}

.grid.no-border > .grid-header {
    border-bottom: 0px !important;
}

.grid.top > .grid-header {
    border-top-width: 4px !important;
    border-top-style: solid !important;
}

.grid.bottom > .grid-body {
    border-bottom-width: 4px !important;
    border-bottom-style: solid !important;
}

.popup .overlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}
 
.popup .content {
  position:absolute;
  top: 250px;
  left: 275px;
  transform:translate(-50%,-50%) scale(0);
  background:#fff;
  width:500px;
  height:250px;
  z-index:2;
  text-align:center;
  padding:20px;
  box-sizing:border-box;
  font-family:"Open Sans",sans-serif;
}
 
.popup .close-btn {
  cursor:pointer;
  position:absolute;
  right:20px;
  top:20px;
  width:30px;
  height:30px;
  background:#222;
  color:#fff;
  font-size:25px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
}
 
.popup.active .overlay {
  display:block;
}
 
.popup.active .content {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}
    </style>
</head>
<body>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<header style="position: absolute;">
		<div class="logo">
			<h2 style="font-size:20px; margin-top:15px">Online Banking</h2>
		</div>
        <ul style="margin-top:10px">
            <li><a href="/main" >Home</a></li>
            <li><a href="/profile" >Profile</a></li>
            <li><a href="/account" >Account</a></li>
            <li><a href="#" class="active">Notification</a></li>
            <li><a href="#">About Us</a></li>
        </ul>
        <a class="logout" href="/logout"><button>Logout</button></a>
    </header>
<div class="container" style="padding-top: 120px;">
<div class="row">
	<!-- BEGIN INBOX -->
	<div class="col-md-12">
		<div class="grid email">
			<div class="grid-body">
				<div class="row">
					<!-- BEGIN INBOX MENU -->
					<div class="col-md-3">
						<h2 class="grid-title"><i class="fa fa-inbox"></i> Inbox</h2>
						<a class="btn btn-block btn-primary" data-toggle="modal" data-target="#compose-modal"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Submit Query</a>

						<hr>

						<div>
							<ul class="nav nav-pills nav-stacked">
								<li class="header">Folders</li>
								<li class="active" id="Inbox" onclick="location.reload()"><a href="#"><i class="fa fa-inbox"></i> Inbox</a></li>
								<li onclick="queries()" id="Queries"><a href="#"><i class="fa fa-pencil-square-o"></i> Queries</a></li>
							</ul>
						</div>
					</div>
					<!-- END INBOX MENU -->
					
					<!-- BEGIN INBOX CONTENT -->
					<div class="col-md-9">
						<div class="row">
							<div class="col-sm-6">
								<label style="margin-right: 8px;" class="">
									<div class="icheckbox_square-blue" style="position: relative;"><input type="checkbox" id="check-all" class="icheck" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>
								</label>
								<div class="btn-group" id="action">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="margin-bottom: 10px;">
										Action <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#" onclick="delmsg()">Delete</a></li>
									</ul>
								</div>
								<div class="form-group" id="account_queries" style="display: none;">
									<label for="acc">Account Number:</label>
									<select name="acc" id="acc_number" style="width: 20%;padding: 3px;margin-left: 3px;" onchange="query_onchange()">
									</select>
								</div>
							</div>

						</div>
						
						<div class="padding"></div>

						<div class="popup" id="popup-1">
							<div class="overlay"></div>
							<div class="content">
							  <div class="close-btn" onclick="togglePopup(0)">&times;</div>
							  <h4 id="heading"></h4>
							  <p id="message1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo aspernatur laborum rem sed laudantium excepturi veritatis voluptatum architecto, dolore quaerat totam officiis nisi animi accusantium alias inventore nulla atque debitis.</p>
							</div>
						</div>
						
						<div class="table-responsive">
							<table class="table">
								<tbody id="messages">
									
									
								
							</tbody></table>
						</div>

												
					</div>
					<!-- END INBOX CONTENT -->
					
					<!-- BEGIN COMPOSE MESSAGE -->
					<div class="modal fade" id="compose-modal" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-wrapper" style="margin-top: 10%;">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header bg-blue">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
										<h4 class="modal-title"><i class="fa fa-envelope"></i> Compose New Query</h4>
									</div>
									<form action="#" method="post"  id="submit_query" onsubmit="return submitQuery()">
										<div class="modal-body">
											<div class="form-group">
												<label for="accounts">Account Number:</label>
												<select name="accounts" id="account_number" style="width: 15%;padding: 3px;margin-left: 3px;">
												</select>
											</div>
											<div class="form-group">
												<input name="subject" id="subject" type="text" class="form-control" placeholder="Subject" required>
											</div>
											<div class="form-group">
												<textarea name="message" id="message" class="form-control" placeholder="Message" style="height: 120px;" required></textarea>
											</div>
											
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Discard</button>
											<button type="submit" class="btn btn-primary pull-right"><i class="fa fa-envelope"></i> Send Query</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<!-- END COMPOSE MESSAGE -->
				</div>
			</div>
		</div>
	</div>
	<!-- END INBOX -->
</div>
<input type="text" class="inboxData" value="{{data}}" style="display: none;">
<input type="text" class="account_number" value="{{data1}}" style="display: none;">
</div>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript">

function submitQuery(){
	event.preventDefault();
	 $('#compose-modal').modal('toggle');
	$.ajax({
		type: 'POST',
		url: "/auth/submitQuery",
		data: { account_number :document.getElementById("account_number").value, subject:document.getElementById("subject").value , message:document.getElementById("message").value },
		dataType: 'json',
		success: function (result) {
			alert(result)
		},
		error: function (request, status, error) {
			console.log("Query not submitted")
		}
	});
  
}

function togglePopup(value,id,ele){
	document.getElementById("message1").innerHTML= data[value].message;
	document.getElementById("popup-1").classList.toggle("active");
	if(ele.parentElement.parentElement.className==""){
		ele.parentElement.parentElement.className="read"
		ele.parentElement.parentElement.childNodes[2].childNodes[0].className="fa fa-envelope-open-o"
		update(id)
	}
}

function queryTogglePopup(id,query,subject){
	
	document.getElementById("heading").innerHTML= subject;
	document.getElementById("message1").innerHTML= query;
	document.getElementById("popup-1").classList.toggle("active");
	
}

function update(id){
	event.preventDefault();
	

    $.ajax({
        type: 'POST',
        url: "/auth/inbox",
        data: { id:id , del :"N" },
        success: function (result) {
            console.log(result);
        },
        error: function (request, status, error) {
            serviceError();
        }
    });
}
function readtoggle(value,id,ele){
	if(ele.parentElement.parentElement.className=="read"){
		ele.parentElement.parentElement.className=""
		ele.className="fa fa-envelope-o"
		update(id)
		
	}
	
	
}
function delmsg(){
	var markedCheckbox = document.getElementsByName('sel');  
	for (var checkbox of markedCheckbox) {  
    	if (checkbox.checked)  {
			list.push(checkbox.id)
		}
	}
	del(list)
	list=[]
}
function del(list){
	event.preventDefault();
	console.log(list)
    $.ajax({
        type: 'POST',
        url: "/auth/inbox",
        data: { array:list , del :"Y" },
        success: function (result) {
            alert("Message Deleted");
			location.reload();
        },
        error: function (request, status, error) {
            serviceError();
        }
    });
	
}

function query_info(result){
	var data= JSON.parse(result);
	var block="";
	var flag=0;
	list=[];
	icon=""
	if(data.length == 0){
		block="<tr>No messages</tr>"
	}
	for(i=0; i<data.length;i++){
		 
		 data[i].date = new Date(data[i].date);
         data[i].date= data[i].date.getFullYear()+'-' + (data[i].date.getMonth()+1) + '-'+data[i].date.getDate();
		 str='onclick=\'queryTogglePopup('+data[i].Query_id+',"'+data[i].Query+'","'+data[i].subject+'")\''
		 console.log(str)
		 block+='<tr class='+value+'><td class="time">'+data[i].date+'</td><td class="time">'+data[i].subject+'</td><td class="subject"><a href="#"'+ str+'  maxlength="40">'+data[i].Query+'</a></td><td class="time">'+data[i].time+'</td></tr>'
	}
	document.getElementById("messages").innerHTML=block;
}

function query_onchange(){
	$.ajax({
        type: 'POST',
        url: "/auth/Queries",
        data: { account_number: document.getElementById("acc_number").value },
        success: function (result) {
            query_info(result)
        },
        error: function (request, status, error) {
            console.log("failure")
        }
    });
}

function queries(){
	event.preventDefault();
	document.getElementById("action").style.display="none";

	var data1= JSON.parse(document.querySelector(".account_number").value);
	var block2="";

	if(data1.length == 0){
		block2='<option value="NULL">No Account</option>'
	}

	for(i=0; i<data1.length;i++){
		block2+='<option value="'+data1[i].accountno+'">'+data1[i].accountno+'</option>'
	}
	console.log(block2);
	document.getElementById("acc_number").innerHTML=block2;

	document.getElementById("account_queries").style.display="block";

	document.getElementById('Inbox').classList.remove('active');
	document.getElementById('Queries').classList.add('active');

    $.ajax({
        type: 'POST',
        url: "/auth/Queries",
        data: { account_number: document.getElementById("acc_number").value },
        success: function (result) {
            query_info(result)
        },
        error: function (request, status, error) {
            console.log("failure")
        }
    });

	
	
}
</script>
<script>

	var data= JSON.parse(document.querySelector(".inboxData").value);
	var block="";
	var flag=0;
	list=[];
	icon=""
	if(data.length == 0){
		block="<tr>No messages</tr>"
	}
	for(i=0; i<data.length;i++){
		 unread=data[i].unread
		 if(unread=="Y"){
			 value=""
			 icon="fa fa-envelope-o"
		 }
		 else{
			 value="read"
			 icon="fa fa-envelope-open-o"
		 }
		 data[i].date = new Date(data[i].date);
         data[i].date= data[i].date.getFullYear()+'-' + (data[i].date.getMonth()+1) + '-'+data[i].date.getDate();

		 block+='<tr class='+value+'><td class="action"><input type="checkbox" id='+data[i].message_id+' name="sel"/></td><td class="action"><i class="fa fa-star-o"></i></td><td class="action"><i class="'+icon+'" onclick="readtoggle('+i+','+data[i].message_id+',this);"></i></td><td class="time">'+data[i].date+'</td><td class="subject"><a href="#" onclick="togglePopup('+i+','+data[i].message_id+',this)" maxlength="40">'+data[i].message+'</a></td><td class="time">'+data[i].time+'</td></tr>'
		 console.log(block)
	}
	
    document.getElementById("messages").innerHTML=block;
   
    var data1= JSON.parse(document.querySelector(".account_number").value);
	var block2="";

	if(data1.length == 0){
		block2='<option value="NULL">No Account</option>'
	}
	for(i=0; i<data1.length;i++){
			block2+='<option value="'+data1[i].accountno+'">'+data1[i].accountno+'</option>'
	}
	console.log(block2);
	document.getElementById("account_number").innerHTML=block2;
	

</script>
</body>
</html>