<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/payee-css/style.css"/>
    <title>My Payees</title>
  </head>
  <body>

    <!-- Header -->
    <header>
        <div class="logo">
            <h2>Online Banking</h2>
        </div>
        <ul>
        <li><a href="#" class="active">Home</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Home</a></li>
        </ul>
        <a class="logout" href="#"><button>Logout</button></a>
    </header>
    <!-- Header -->

    <button class="btn" onclick="toggleLogin()">Add Payee+</button>
    <div class="overlay">
      <div class="login">
        <div class="header">
          <h1>Add here</h1>
          <i class="fas fa-times" onclick="toggleLogin()"></i>
        </div>
        <div class="body">
          <form action="/auth/payee" method="POST" class="form">
            <input type="text" name ="name" placeholder="Name"/>
            <input type="text" name="bank_name" placeholder="Bank Name"/>
            <input type="text" name="branch_name" placeholder="Branch Name"/>
            <input type="Number" name="account_number" placeholder="Account Number"/>
            <input type="text" name="ifsc_code" placeholder="IFSC Code"/>
            <div class="footer">
            <button type="submit">Add Now</button>
            </div>
          </form>
        </div>
        
      </div>
    </div>
    <!-- My payee Heading -->
    <h1 class="mypayee">My Payees</h1>
    <!-- My payee Heading -->

    <!-- My payees -->
    <div id="My_payees">
    <div class="grid-container" style="padding-left: 25px;">
        <div class="courses-container">
            <div class="course">
                <div class="course-preview" id="my_header">
                    <h6>Name</h6>
                    <h2>A. Nikhil</h2>
                    <div class="btn1">
                        <a href="#"><button>Delete</button></a>
                    </div>
                </div>
                <div class="course-info">
                    <h6>Bank Name</h6>
                    <h3>SBI</h3>
                    <h6>Branch Name</h6>
                    <h3>Badvel</h3>
                    <h6>Account Number</h6>
                    <h3>xxxxxxxxxxxxxxxx</h3>
                    <h6>IFSC Code</h6>
                    <h3>SBIN00000000</h3>
                    <button class="btnt">Transfer</button>
                </div>
            </div>
        </div>
    
        <div class="courses-container">
            <div class="course">
                <div class="course-preview">
                    <h6>Name</h6>
                    <h2>B. Sai Ram Charan</h2>
                    <div class="btn1">
                        <a href="#"><button>Delete</button></a>
                    </div>
                </div>
                <div class="course-info">       
                    <h6>Bank Name</h6>
                    <h3>SBI</h3>
                    <h6>Branch Name</h6>
                    <h3>Badvel</h3>
                    <h6>Account Number</h6>
                    <h3>xxxxxxxxxxxxxxxx</h3>
                    <h6>IFSC Code</h6>
                    <h3>SBIN00000000</h3>
                    <button class="btnt">Transfer</button>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-container" style="padding-left: 25px;">
        <div class="courses-container">
            <div class="course">
                <div class="course-preview" id="my_header">
                    <h6>Name</h6>
                    <h2>B. Krishna Lokesh</h2>
                    <div class="btn1">
                        <a href="#"><button>Delete</button></a>
                    </div>
                </div>
                <div class="course-info">
                    <h6>Bank Name</h6>
                    <h3>SBI</h3>
                    <h6>Branch Name</h6>
                    <h3>Badvel</h3>
                    <h6>Account Number</h6>
                    <h3>xxxxxxxxxxxxxxxx</h3>
                    <h6>IFSC Code</h6>
                    <h3>SBIN00000000</h3>
                    <button class="btnt">Transfer</button>
                </div>
            </div>
        </div>
    
        <div class="courses-container">
            <div class="course">
                <div class="course-preview">
                    <h6>Name</h6>
                    <h2>G. Sai Venkatesh</h2>
                    <div class="btn1">
                        <a href="#"><button>Delete</button></a>
                    </div>
                </div>
                <div class="course-info">
                    <h6>Bank Name</h6>
                    <h3>SBI</h3>
                    <h6>Branch Name</h6>
                    <h3>Badvel</h3>
                    <h6>Account Number</h6>
                    <h3>xxxxxxxxxxxxxxxx</h3>
                    <h6>IFSC Code</h6>
                    <h3>SBIN00000000</h3>
                    <button class="btnt">Transfer</button>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-container" style="padding-left: 25px;">
        <div class="courses-container">
            <div class="course">
                <div class="course-preview" id="my_header">
                    <h6>Name</h6>
                    <h2>K. Venkat Ajay</h2>
                    <div class="btn1">
                        <a href="#"><button>Delete</button></a>
                    </div>
                </div>
                <div class="course-info">
                    <h6>Bank Name</h6>
                    <h3>SBI</h3>
                    <h6>Branch Name</h6>
                    <h3>Badvel</h3>
                    <h6>Account Number</h6>
                    <h3>xxxxxxxxxxxxxxxx</h3>
                    <h6>IFSC Code</h6>
                    <h3>SBIN00000000</h3>
                    <button class="btnt">Transfer</button>
                </div>
            </div>
        </div>
    
        <div class="courses-container">
            <div class="course">
                <div class="course-preview">
                    <h6>Name</h6>
                    <h2>K. Venkata Vinay Babu</h2>
                    <div class="btn1">
                        <a href="#"><button>Delete</button></a>
                    </div>
                </div>
                <div class="course-info">
                    <h6>Bank Name</h6>
                    <h3>SBI</h3>
                    <h6>Branch Name</h6>
                    <h3>Badvel</h3>
                    <h6>Account Number</h6>
                    <h3>xxxxxxxxxxxxxxxx</h3>
                    <h6>IFSC Code</h6>
                    <h3>SBIN00000000</h3>
                    <button class="btnt">Transfer</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    <input type="text" class="payee" value="{{data}}" style="display: none;">
    <!-- My payees -->
  </body>
  <script>
    function toggleLogin() {
      document.querySelector(".overlay").classList.toggle("open");
    }
  </script>
</html>
<script>
	var data= JSON.parse(document.querySelector(".payee").value);
    var block="";
    if(data.length == 0){
		block='<h1> No payees </h1>'
	}
    for(i=0; i+1<data.length;i+=2){
        
        block+='<div class="grid-container" style="padding-left: 25px;"><div class="courses-container"><div class="course"><div class="course-preview"><h6>Name</h6><h2>'+data[i].name+'</h2><div class="btn1"><a href="#"><button>Delete</button></a></div></div><div class="course-info"><h6>Bank Name</h6><h3>'+data[i].bankname+'</h3><h6>Branch Name</h6><h3>'+data[i].branchname+'</h3><h6>Account Number</h6><h3>'+data[i].accountnumber+'</h3><h6>IFSC Code</h6><h3>'+data[i].ifsc_code+'</h3><button class="btnt">Transfer</button></div></div></div><div class="courses-container"><div class="course"><div class="course-preview" id="my_header"><h6>Name</h6><h2>'+data[i+1].name+'</h2><div class="btn1"><a href="#"><button>Delete</button></a></div></div><div class="course-info"><h6>Bank Name</h6><h3>'+data[i+1].bankname+'</h3><h6>Branch Name</h6><h3>'+data[i+1].branchname+'</h3><h6>Account Number</h6><h3>'+data[i+1].accountnumber+'</h3><h6>IFSC Code</h6><h3>'+data[i+1].ifsc_code+'</h3><button class="btnt">Transfer</button></div></div></div></div>'
	}
    if(data.length % 2 != 0){
        i=data.length-1
        block+='<div class="grid-container" style="padding-left: 25px;"><div class="courses-container"><div class="course"><div class="course-preview"><h6>Name</h6><h2>'+data[i].name+'</h2><div class="btn1"><a href="#"><button>Delete</button></a></div></div><div class="course-info"><h6>Bank Name</h6><h3>'+data[i].bankname+'</h3><h6>Branch Name</h6><h3>'+data[i].branchname+'</h3><h6>Account Number</h6><h3>'+data[i].accountnumber+'</h3><h6>IFSC Code</h6><h3>'+data[i].ifsc_code+'</h3><button class="btnt">Transfer</button></div></div></div></div>'
    }
    document.getElementById("My_payees").innerHTML=block;

</script>