<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Transactions Page</title>

  <link rel="stylesheet" href="/transaction-css/style.css">
</head>
<body>
  <header>
		<div class="logo">
			<h2>Online Banking</h2>
		</div>
    <ul>
      <li><a href="#" class="active">Home</a></li>
      <li><a href="#">Home</a></li>
      <li><a href="#">Home</a></li>
      <li><a href="#">Home</a></li>
      <li><a href="#">Home</a></li>
    </ul>
		<a class="logout" href="#"><button>Logout</button></a>
  </header>

  <div class="form-wrapper" style="padding:0px">
    <h2 style="background-color: #16a085;margin-bottom: 0px;margin-top: 0px;height: 10%;padding-top: 1%;padding-left: 20px;padding-bottom: 1% ; color:white; font-weight: bold;">Search Criteria</h2>

    <form action="">
      
      <div>
        <div style="width: 14%; float:left ; padding-left: 20px;">
          <label for="Student" > Account Number : </label>
        </div>
        <div style="width: 84%; float:left;">
          <select name="select" id="time" style="width: 20%;">
            <option value="l2">xxxxxxxxx</option>
            <option value="l1">xxxxxxxxx</option>
            <option value="l*">xxxxxxxxx</option>
            <option value="bb">Jai Balayya</option>
          </select>
        </div>
      </div>
    
      <div style="margin-top: 3%;">
        <div style="width:15.4%; float: left;">
          <input type="radio" name="reason" value=""  />Transaction Date From :  
        </div>
        <div style="width:20%; float: left;">
          <input type="date" name="other_reason" />
        </div>
        <div style="width:15.4%; float: left;">
          Transaction Date From :  
        </div>
        <div style="width:40%; float: left;">
          <input type="date" name="other_reason" />
        </div>
      </div>
      
      <div style="margin-top: 6%;width: 100%;">
        <div style="width:15.4%; float: left;">
          <input type="radio" name="reason" value=""  />Transaction Period :  
        </div>
        <div style="width:80%; float: left;">
          <select name="select" id="time" style="width: 13%;">
            <option value="l2">Last 2 Months</option>
            <option value="l1">Last 1 Months</option>
            <option value="l*">Last * Months</option>
            <option value="bb">Jai Balayya</option>
          </select>
        </div>
      </div>

      <div style="margin-top: 9%;width: 100%;">
        <div style="width:15.4%; float: left;">
          <input type="radio" name="reason" value=""  />Last N Transactions :  
        </div>
        <div style="width:80%; float: left;">
          <input name="Student" style="width:20%" />
        </div>
      </div>

      <div style="margin-top: 12%;width: 100%;">
        <div style="width: 14%; float:left ; padding-left: 20px;">
          <label for="category">Category : </label>
        </div>
        <div style="width:80%; float: left;">
          <select name="category" id="category" style="width: 13%;">
            <option value="l2">Last 2 Months</option>
            <option value="l1">Last 1 Months</option>
            <option value="l*">Last * Months</option>
            <option value="bb">Jai Balayya</option>
          </select>
        </div>
      </div>
      
      
      
     
      
      <button type="submit">Submit</button>
    </form>
  </div>

  <table>
    <tr id="header">
        <th>Trans Id</th>
        <th>Trans Type</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Description</th>
        <th>Payment Type</th>
    </tr>
    <tr>
      <td>10</td>
      <td>Savings</td>
      <td>2500</td>
      <td>10-2-2020</td>
      <td>Lorem ipsum dolor sit amet consectetur</td>
      <td>Debited</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Savings</td>
      <td>2500</td>
      <td>10-2-2020</td>
      <td>Lorem ipsum dolor sit amet consectetur</td>
      <td>Debited</td>

    </tr>
    <tr>
      <td>10</td>
      <td>Savings</td>
      <td>2500</td>
      <td>10-2-2020</td>
      <td>Lorem ipsum dolor sit amet consectetur</td>
      <td>Debited</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Savings</td>
      <td>2500</td>
      <td>10-2-2020</td>
      <td>Lorem ipsum dolor sit amet consectetur</td>
      <td>Debited</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Savings</td>
      <td>2500</td>
      <td>10-2-2020</td>
      <td>Lorem ipsum dolor sit amet consectetur</td>
      <td>Debited</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Savings</td>
      <td>2500</td>
      <td>10-2-2020</td>
      <td>Lorem ipsum dolor sit amet consectetur</td>
      <td>Debited</td>
    </tr>

  </table>
</body>
</html>