/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Philosopher&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html,body {
    height: 100%;
    overflow: hidden;
    background: #ffe259;
    background: var(--mango-gradient);
}

/* Variables */
:root {
    --primary-gradient: linear-gradient(to right, #4e4376, #2b5876);
    --mango-gradient: linear-gradient(135deg, #71b7e6, #9b59b6);
    --text-color: #F7F9f9;
    --Montserrat: "Montserrat", cursive;
    --Lobster: "Lobster", cursive;
    --primary-shadow: 3px 4px 7px rgba(27, 27, 27, 0.534);
    --border-color: rgba(0,0,0,0.329);
}

/* Navigation bar */

li, a, button {
    font-family: var(--Montserrat);
    font-weight: 500;
    font-size: 10px;
    color: #fff;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    color: #fff;
    background-color: rgba(0,0,0,0.3);
}

.logo {
    padding-left: 10px;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    font-size: 16px;
    text-transform: bold;
}

.nav_links li a:hover {
    color: #0088a9;
}

button {
    padding: 9px 25px;
    background-color: rgb(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 15px;
}

button:hover {
    background-color: rgb(0, 136, 169, 0.8);
}

/* /Navigation bar */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98%;
    max-height: 610px;
}

.container .panel{
    width: 60%;
    height: 72%;
    box-shadow: var(--primary-gradient);
}

.row{
    display: grid;
    grid-template-columns: 65% 35%;
    height: 100%;
    background: #fff;
}

.liquid{
    background: url('../img/Wave.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.liquid h4{
    text-align: left;
    padding: 2rem 2rem;
    color: whitesmoke;
    font-family: var(--Montserrat);
}

.owl-carousel{
    width: 100%;
    height: 320px;
    max-height: 330px;
}

.owl-carousel .owl-item .login_img{
    float: right;
    width: 400px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 3rem;
}

.owl-dots{
    position: fixed;
    padding: 3rem 1.2rem;
    display: flex !important;
    flex-direction: column;
    transform: translateY(-240px);
}

.owl-dots button{
    border-radius: 5rem;
    margin: .3rem 0;
}

.owl-dots button span{
    background: var(--text-color) !important;
    margin: 0rem .6rem !important;
}

.owl-dots .active{
    border: 1px solid #ffd765 !important;
}

.owl-dots .active span{
    background: #ffd765 !important;
    margin: .3rem .5rem !important;
}

/* Second Column Login */

.login .btn-signup, 
form .btn-login{
    background: var(--primary-gradient);
    float: right;
    margin: 1rem;
}

.btn-sign {
    background: var(--primary-gradient);
    margin-right: 10em;
    margin-top: 60px !important;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    float: right;
    border-radius: 5rem;

}

.titles{
    margin-bottom: 2.2rem;
}

form{
    height: 55%;
    max-height: 280px;
    margin-top: 3rem;
}

form h3, form h6{
    font-family: var(--Montserrat);
    padding: 0;
    margin: 0;
    padding-left: 3rem;
}

form h6{
    padding-left: 4.5rem;
    font-family: var(--Lobster);
    color: #444444d2;
}

form .form-group{
    text-align: left;
    border: 1px solid var(--border-color);
    margin-top: .9rem;
    margin-right: 2rem;
    border-radius: 3rem;
}

form .form-group .form-input{
    padding: .5rem 1rem;
    background: transparent;
    border: none;
    font-family: var(--Montserrat);
    font-size: .9rem;
    overflow: hidden;
}

form input:focus{
    outline: none;
}

form .input-icon{
    display: inline;
    color: var(--border-color);
}

form .btn-login{
    float: none;
    padding: .8rem 5rem;
    margin-left: 2rem;
}